{% extends 'core/base.html' %}

{% block content %}
  <p>hi, {{ rc_profile.first_name }}!</p>

  <p>
      your sound preferences are set to <b>{{ request.user.get_sound_preference_display }}</b>{% spaceless %}
      {% if request.user.sound_preference == 'single_sound' %}
        &nbsp;({{ request.user.single_sound_preference }}).
      {% else %}
        .
      {% endif %}
    {% endspaceless %}

    <a href="{% url 'sound_preferences' %}">change them here</a>.
  </p>

  <p>click here to <a href="{% url 'all_community_sounds' %}">view all community sounds</a>.</p>

  <p>want to <a href="{% url 'add_community_sound' %}">add a community sound</a>?</p>

  <p>want to <a href="{% url 'delete_community_sound' %}">delete a community sound</a>?</p>

  <hr style='margin-top:60px;'>

  <div style='font-size:0.9em; color: #111'>"Checkintopus" by Itay Shoshani and Greg Sadetsky. source code <a href="https://github.com/gregsadetsky/recurse-rfid-visits">here</a> and <a href="https://github.com/gregsadetsky/checkintopus">here</a>.</div>
{% endblock content %}
