{% extends 'core/base.html' %}

{% block content %}
  <p>hi, {{ rc_profile.first_name }}!</p>

  <hr>
  <h3>your sound preference</h3>
  <p>when scanning your door tag, what sound do you want the octopus to play?</p>
  <select>
    <option>no sound</option>
    <option>one sound (choose below)</option>
    <option>random community sound</option>
  </select>
  <button type='submit'>save</button>

  <hr>
  <h3>all community sounds</h3>
  {% for sound in all_community_sounds %}
    <li>
      <a href="{{ sound.file.url }}" target="_blank">{{ sound.name }}</a>
    </li>
  {% endfor %}

  <hr>
  <h3>TODO add a community sound</h3>
  <p>upload a sound file - recommended: .mp3 that's <1mb ish</p>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <button type="submit">upload</button>
  </form>

  <hr>
  <h3>TODO delete a community sound</h3>
  <p>don't be a bad person. you'll get a chance to confirm.</p>
  <form action="" method="post">
    {% csrf_token %}
    <select name="sound">
      {% for sound in all_community_sounds %}
        <option value="{{ sound.id }}">{{ sound.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">delete</button>

{% endblock content %}
