{% extends 'core/base.html' %}

{% block content %}
  <h3>your sound preferences</h3>
  <p>when scanning your door tag, what sound do you want the octopus to play?</p>

  <form method='post'>
    {% csrf_token %}
    <div>
      <select id='js-sound-preference' name='sound-preference'>
        {% for value, text in request.user.SOUND_PREFERENCE_CHOICES %}
          {% if value == request.user.sound_preference %}
            <option value="{{ value }}" selected>{{ text }}</option>
          {% else %}
            <option value="{{ value }}">{{ text }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div id='js-all-sounds' style='display:none'>
      <select name='single-sound-preference'>
      {% for sound in all_community_sounds %}
        {% if sound.id == request.user.single_sound_preference.id %}
          <option value="{{ sound.id }}" data-url="{{ sound.file.url }}" selected>{{ sound }}</option>
        {% else %}
          <option value="{{ sound.id }}" data-url="{{ sound.file.url }}">{{ sound }}</option>
        {% endif %}
      {% endfor %}
      </select>
      <button type='button' id='js-play-sound'>play</button>
    </div>

    <div><button type='submit'>save</button></div>
  </form>

  <p><a href="/">go back home</a></p>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const audioObj = new Audio();     

      const soundPreferenceSelectEl = document.getElementById('js-sound-preference')
      if (soundPreferenceSelectEl.value == 'single_sound') {
        document.getElementById('js-all-sounds').style.display = 'block';
      }

      soundPreferenceSelectEl.addEventListener('change', function(e) {
        if (e.target.value == 'single_sound') {
          document.getElementById('js-all-sounds').style.display = 'block';
        } else {
          document.getElementById('js-all-sounds').style.display = 'none';
        }
      });
    
      document.getElementById('js-play-sound').addEventListener('click', function(e) {
        const chosenSoundSelectEl = document.querySelector('select[name="single-sound-preference"]');
        // url value in data-url attribute
        const soundUrl = chosenSoundSelectEl.options[chosenSoundSelectEl.selectedIndex].dataset.url;

        // if audio is playing, stop it
        if (!audioObj.paused) {
          audioObj.pause();
          audioObj.currentTime = 0;
        }

        // load new url and play
        audioObj.src = soundUrl;
        audioObj.play();
      });

    });
  </script>
{% endblock content %}
